[submodule "deps/tvision"]
	path = deps/tvision
	url = https://github.com/aestubbs/tvision
	branch = master
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/scintilla"]
	path = deps/scintilla
	url = https://github.com/mirror/scintilla
[submodule "deps/lexilla"]
	path = deps/lexilla
	url = https://github.com/ScintillaOrg/lexilla
[submodule "deps/libvterm"]
	path = deps/libvterm
	url = https://github.com/neovim/libvterm
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
[submodule "deps/tree-sitter"]
	path = deps/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "deps/tree-sitter-elixir"]
	path = deps/tree-sitter-elixir
	url = https://github.com/elixir-lang/tree-sitter-elixir
[submodule "deps/tree-sitter-heex"]
	path = deps/tree-sitter-heex
	url = https://github.com/phoenixframework/tree-sitter-heex
[submodule "deps/tree-sitter-html"]
	path = deps/tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html
[submodule "deps/tree-sitter-css"]
	path = deps/tree-sitter-css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule "deps/tree-sitter-javascript"]
	path = deps/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "deps/tree-sitter-php"]
	path = deps/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php
[submodule "deps/tree-sitter-blade"]
	path = deps/tree-sitter-blade
	url = https://github.com/EmranMR/tree-sitter-blade
