[submodule "deps/tvision"]
	path = deps/tvision
	url = https://github.com/magiblot/tvision
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/scintilla"]
	path = deps/scintilla
	url = https://github.com/mirror/scintilla
[submodule "deps/lexilla"]
	path = deps/lexilla
	url = https://github.com/ScintillaOrg/lexilla
[submodule "deps/libvterm"]
	path = deps/libvterm
	url = https://github.com/neovim/libvterm
